<table id="article_edit_form">
<tr><td>
<%= form.text_field :title, value: article.title, placeholder: "タイトル" %>
</td></tr>
<tr><td>
<%= form.text_area :content, value: article.content, placeholder: "見出し", class: "article_content" %>
</td></tr>
<tr><td>
<%= form.text_area :body, value: article.body, placeholder: "本文", class: "article_body" %>
</td></tr>
<tr><td>
<%= form.select :status, {"草稿" => "draft", "公開" => "published", "非公開" => "private"}, :selected => article.status %>
</td></tr>
<tr><td>
<%= form.select :category_id, Category.get_hash %>
</td></tr>
</table>