<% @page_title = "記事一覧" %>

<p id="notice"><%= notice %></p>

<% if current_user %>
<p><%= link_to "新規作成", new_admin_article_path %></p>
<% end %>

<% if @articles.present? %>
<table class="article">
	<% @articles.each do |article| %>
	<tr><td>
		<table class="article">
		<tr><td>
			<h3><%= link_to article.title, article %></h3>
		</td></tr>
		<tr><td>
			<article>
			<p><%= article.content.to_s.html_safe %></p>
			<p><%= article.body.truncate(200) %></p>
			<%= render "article_footer", article: article%>
			</article>
		</td></tr>
		</table>
	</td></tr>
	<% end %>
</table>
<% else %>
	記事はありません
<% end %>