<% @page_title = "記事一覧" %>

<p id="notice"><%= notice %></p>

<% if current_user %>
<p><%= link_to "新規作成", new_admin_article_path %></p>
<% end %>

<%= paginate @articles %>

<% if @articles.present? %>

<!-- articles -->

<table class="articles">
	<% @articles.each do |article| %>
	<tr><td style="padding-bottom: 50px">
		
		<!-- start article -->
		
		<table>
		<tr><td>
			<h3 class="article_title"><%= link_to article.title, article %></h3>
		</td></tr>
		<tr><td>
			<article class="article">
			<%= markdown(article.content) %>
			<%= markdown(article.body.truncate(200)) %>
			</article>
			<%= render "article_footer", article: article%>
		</td></tr>
		</table>

		<!-- end article -->

	</td></tr>
	<% end %>
</table>

<!-- articles -->

<% else %>
	記事はありません
<% end %>

<%= paginate @articles %>