<% @page_title = @article.title %>

<p id="notice"><%= notice %></p>

<article class="article">
<h1><%= @article.title %></h1>
<p><%= @article.content.to_s.html_safe %>
<%= @article.body.to_s.html_safe %></p>
<%= render "article_footer", article: @article%>
</article>