<% @page_title = @article.title %>

<p id="notice"><%= notice %></p>

<h1 class="article_title"><%= @article.title %></h1>
<article class="article">
<p><%= markdown(@article.content) %></p>
<p><%= markdown(@article.body) %></p>
</article>
<%= render "article_footer", article: @article%>
