<% @page_title = @article.title %>

<p id="notice"><%= notice %></p>

<h1 class="article_title"><%= @article.title %></h1>
<article class="article">
<%= markdown(@article.content) %>
<%= markdown(@article.body) %>
</article>
<%= render "article_footer", article: @article%>
