<% @page_title = @article.title %>

<p id="notice"><%= notice %></p>

<article class="article">
<h1><%= @article.title %></h1>
<p><%= @article.content %>
<%= @article.body %></p>
<%= render "article_footer", article: @article%>
</article>