<% @page_title = @article.title %>

<p id="notice"><%= notice %></p>

<h1 class="article_title"><%= @article.title %></h1>
<article class="article">
<p><%= @article.content.to_s.html_safe %></p>
<p><%= @article.body.to_s.html_safe %></p>
</article>
<%= render "article_footer", article: @article%>
