<% if current_user %>
<%= render "shared/user_header" %>
</nav>
<% end %>
<div id="header_image">
<%= link_to "<h1>My_Page</h1>".html_safe, :root %>
</div>
<nav id="menubar">
	<ul>
	<%= link_to "<li>TOP</li>".html_safe, :root %>
	<%= link_to "<li>ブログ</li>".html_safe, :articles %>
	<%= link_to "<li>ユーザー</li>".html_safe, :users %>
	<%= link_to "<li>Photos</li>".html_safe, :photos %>
	</ul>
</nav>