<% @page_title = @user.name + "さんのユーザ詳細" %>

<h1>ユーザー詳細</h1>
<table id="user">
	<tr>
		<td colspan="2"><%= create_user_image_tag @user, style: "max-width: 500px" if @user.image.present?%></td>
	</tr>
	<tr>
		<th>ID</th>
		<td><%= @user.name %></td>
	</tr>
	<tr>
		<th>名前</th>
		<td><%= @user.nick_name %></td>
	</tr>
	<tr>
		<th>詳細1</th>
		<td><%= @user.profile %></td>
	</tr>
	<tr>
		<th>詳細2</th>
		<td><%= @user.detail %></td>
	</tr>
	<tr>
		<th>場所</th>
		<td><%= @user.place %></td>
	</tr>
	<tr>
		<th>メール</th>
		<td><%= @user.email %></td>
	</tr>
</table>

<%= link_to "編集", [:edit, :admin, @user] %>
<%= link_to "削除", [:admin, @user], method: :delete, data: { confirm: "本当に削除しますか?" } %>