<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title + " - " if @page_title.present?%>MyBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		
		<link rel="stylesheet" href="/highlight/styles/tomorrow-night.css" data-turbolinks-track="reload">
		<script src="/highlight/highlight.pack.js" data-turbolinks-track="reload"></script>

		<!-- Google Analytics -->
		<!-- Global Site Tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106472668-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments)};
		  gtag('js', new Date());

		  gtag('config', 'UA-106472668-1');
		</script>
		<!-- Google Analytics -->

  </head>

  <body id="body">
		<!-- Header -->
		<div id="header">
		<%= render "shared/header" %>
		</div>
		<!-- Header -->

		<!-- Content -->
		<div id="wrapper">
		<div id="content">
			<%= yield %>
		</div>
		<div id="sidebar">
			<%= render "shared/sidebar" %>
		</div>
		</div>
		<!-- Content -->

		<!-- Footer -->
		<div id="footer">
		<%= render "shared/footer" %>
		</div>
		<!-- Footer -->
		<script>initHighlighting_forrails();</script>
  </body>
</html>
